$purple: #605087;
$gray: #BEB6AF;
$orange: #F39662;
$pink: #D1517A;

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  width: 140px;
  height: 160px;
  padding: 0 15px;
}

.mobile-pink {
  background-color: #D1517A;
  border-radius: 5px;
  width: 140px;
  height: 160px;
  padding: 15px;
  margin: 0px 0px 20px 0px;
  color: white;
}
.mobile-orange {
  background-color: #F39662;
  border-radius: 5px;
  width: 140px;
  height: 160px;
  padding: 15px;
  margin: 0px 0px 20px 0px;
  color: white;
}
.mobile-grey {
  background-color: #BEB6AF;
  border-radius: 5px;
  width: 140px;
  height: 160px;
  padding: 15px;
  margin: 0px 0px 20px 0px;
  color: white;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
