body {
  font-family: 'noto serif', serif;
}

h1,
h2,
h3 {
  font-family: 'poppins';
}

.header {
  font-weight: bold !important;
}

nav ul a,
nav {
  font-family: 'poppins', serif;
  font-weight: 700;
  color: black;
}

p {
  font-family: 'poppins', serif;
}

section {
  padding: 5% 0% 5% 0%;
  margin: 0% 0% 0% 0%;
}

.sidenav-trigger {
  color: #605087;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}

.parallax-container .section {
  width: 100%;
}

.icons-index {
  height: auto;
  font-weight: 700;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 5% 0% 0% 0%;
  color: black;
}

.white-box {
  background-color: white;
  width: 85% !important;
  height: 400px;
  border-radius: 5px;
  margin: 5% 0% 15% 0%;
}

.white-box p {
  padding: 0% 10% 0% 10%;
}

.white-box img {
  padding-top: 1%;
  width: 80%;
}

.gestricia-pink {
  color: black;
  background-color: #D1517A;
  border-radius: 5px;
  width: 88%;
  padding: 15px;
  margin: -5% 0% 10% 0%;
}

.gestricia-orange {
  color: black;
  background-color: #F39662;
  border-radius: 5px;
  width: 88%;
  padding: 15px;
  margin: -5% 0% 10% 0%;
}

.gestricia-grey {
  color: black;
  background-color: #BEB6AF;
  border-radius: 5px;
  width: 88%;
  padding: 15px;
  margin: -5% 0% 10% 0%;
}

#info-text {
  padding: 5% 10% 5% 10%;
  font-family: 'Poppins', sans-serif;
}

.section-purple {
  margin: 0% 0% -20% 0%;
  padding: 5% 15% 5% 15%;
  background-color: #605087;
}

.section-purple a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.review {
  color: black;
  background-color: #BEB6AF;
  border-radius: 5px;
  width: 95%;
  padding: 5% 5% 5% 5%;
  margin: 0% 0% 0% 0%;
}

.section-orange {
  padding: 15% 12% 10% 10%;
  background-color: #F39662;
}

.section-orange h5 {
  font-size: 3em;
  margin: 2% 0% 5% 0%;
}

.section-orange h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.section-orange i {
  color: #F39662;
}

.section-orange img {
  height: 50%;
}

.section-orange .why-me {
  border-radius: 5px;
  padding: 3% 5% 3% 5%;
}

.section-orange .why-me p {
  font-family: 'Poppins', sans-serif;
  line-height: 1.4em;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  background-color: #BEB6AF;
  margin: 0;
  color: #F39662;
}

footer.page-footer p {
  font-family: 'Poppins', sans-serif;
}

footer.page-footer li {
  font-family: 'Poppins', sans-serif;
}

footer.page-footer a:hover {
  color: #F39662 !important;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .gestricia-pink {
    width: 90%;
    height: 210px;
    margin: 10% 0% 5% 0%;
  }
  .gestricia-pink img {
    padding: 10% 10% 10% 10%;
    width: 100%;
    height: 90%;
  }
  .gestricia-pink h6 {
    font-size: 1.5em;
  }
  .gestricia-orange {
    width: 90%;
    height: 210px;
    margin: 10% 0% 5% 0%;
  }
  .gestricia-orange img {
    padding: 10% 10% 10% 10%;
    width: 100%;
    height: 90%;
  }
  .gestricia-orange h6 {
    font-size: 1.5em;
  }
  .gestricia-grey {
    width: 90%;
    height: 210px;
    margin: 10% 0% 5% 0%;
  }
  .gestricia-grey img {
    padding: 10% 10% 10% 10%;
    width: 100%;
    height: 90%;
  }
  .gestricia-grey h6 {
    font-size: 1.5em;
  }
  .section-purple {
    margin: 0% 0% 0% 0%;
    padding: 10% 5% 10% 5%;
    background-color: #605087;
  }
  .section-orange h5 {
    font-size: 2.3em;
  }
}

/* -------------------------MOBILE------------------------------- */
@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
  .section-orange img {
    display: none;
  }
  .section-orange h5 {
    font-size: 1.4em;
  }
  .gestricia-pink {
    width: 90%;
    height: 195px;
    margin: 10% 0% 5% 0%;
  }
  .gestricia-pink img {
    padding: 5% 0% 5% 0%;
    width: 100%;
    height: 100%;
  }
  .gestricia-pink h6 {
    font-size: 1em;
    word-wrap: break-word;
  }
  .gestricia-orange {
    width: 90%;
    height: 195px;
    margin: 10% 0% 5% 0%;
  }
  .gestricia-orange img {
    padding: 5% 0% 5% 0%;
    width: 100%;
    height: 100%;
  }
  .gestricia-orange h6 {
    font-size: 1em;
    word-wrap: break-word;
  }
  .gestricia-grey {
    width: 90%;
    height: 195px;
    margin: 10% 0% 5% 0%;
  }
  .gestricia-grey img {
    padding: 5% 0% 5% 0%;
    width: 100%;
    height: 100%;
  }
  .gestricia-grey h6 {
    font-size: 1em;
    word-wrap: break-word;
  }
}

.purple-bg {
  background-color: #605087;
}

.pink-bg {
  background-color: #D1517A;
}

.orange-bg {
  background-color: #F39662;
}

.gray-bg {
  background-color: #BEB6AF;
}

.gray-bg-hover:hover {
  background-color: #857f7a !important;
}

.orange-bg-hover:hover {
  background-color: #eb8042 !important;
}

.pink-bg-hover:hover {
  background-color: #b3204e !important;
}

.pb-2 {
  padding-bottom: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.hero-section {
  height: calc(30%-64px);
}

.overlay-img {
  width: 100%;
  height: calc(65vh - 64px) !important;
}

.v-align-icon {
  position: relative;
  top: 5px;
}

.service-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.selling-button {
  width: 50%;
  height: 40px;
  padding: 2px 0 !important;
  text-transform: uppercase;
  font-family: "poppins", serif;
}

.pink {
  background-color: #D1517A !important;
}

nav .dropdown-content {
  top: 100% !important;
  width: auto !important;
}

nav .dropdown-content a {
  color: black;
}

nav .sidenav li a {
  height: auto;
  line-height: 3em;
}

nav .sidenav .nav-item-wrap {
  margin: 30px 0;
}

.bold {
  font-weight: bold;
}

/* -------------------------------------------------------- */
.contact-icon {
  width: 100%;
  height: 100%;
}

.input-field {
  margin: 0;
}

.input-field label {
  color: white;
  font-family: "poppins", serif;
}

.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: white !important;
}

.input-field input[type=text].valid + label, .input-field input[type=email].valid + label, .materialize-textarea:focus:not([readonly]).valid + label, .input-field textarea.valid {
  color: #D1517A;
}

.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]), .input-field input[type=email]:focus {
  -webkit-box-shadow: 0 1px 0 0 white !important;
          box-shadow: 0 1px 0 0 white !important;
}

.input-field input[type=text].valid {
  border-bottom: 1px solid white !important;
  -webkit-box-shadow: 0 1px 0 0 solid white;
          box-shadow: 0 1px 0 0 solid white;
}

.input-field .prefix.active {
  color: white;
}

.input-field input:focus + label {
  color: white !important;
}

/* label underline focus color */
.row .input-field input, .row .input-field select, .row .input-field textarea {
  border-bottom: 1px solid white !important;
  color: white;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vl {
  height: 600px;
  margin-top: 30px;
  width: 1px !important;
  background-color: #fff;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #605087 !important;
  font-family: "poppins", serif;
}

.dropdown-content {
  width: auto !important;
}

.separator {
  height: 40px;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */