body {
  font-family: 'noto serif', serif;
}

h1,
h2,
h3 {
  font-family: 'poppins';
}

.header {
  font-weight: bold !important;
}

nav ul a,
nav {
  color: black;
}

p {
  font-family: 'poppins', serif;
}

.sidenav-trigger {
  color: #605087;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}

.parallax-container .section {
  width: 100%;
}

.icons-index {
  height: auto;
  font-weight: 700;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 5% 5% 0% 5%;
}

/* .white-box{
  background-color: white;
  width: 290px !important;
  height: 350px;
  border-radius: 5px;
  margin: 6%;
} */
.gestricia-pink {
  color: black;
  background-color: #D1517A;
  border-radius: 5px;
  width: 240px;
  height: 160px;
  padding: 15px;
  margin: 0px 0px 20px 0px;
  color: white;
}

.gestricia-orange {
  color: black;
  background-color: #F39662;
  border-radius: 5px;
  width: 240px;
  height: 160px;
  padding: 15px;
  margin: 0px 0px 20px 0px;
  color: white;
}

.gestricia-grey {
  color: black;
  background-color: #BEB6AF;
  border-radius: 5px;
  width: 240px;
  height: 160px;
  padding: 15px;
  margin: 0px 0px 20px 0px;
  color: white;
}

.why-me {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
}

.why-me p {
  font-family: 'Poppins', sans-serif;
  line-height: 1.4em;
}

#info-text {
  font-family: 'Poppins', sans-serif;
}

.section-purple {
  margin: auto;
  padding: 30px 0px 0px 0px;
  background-color: #605087;
}

.section-orange {
  padding: 30px 0px 20px 0px;
  background-color: #F39662;
}

.section-orange h5 {
  font-size: 3em;
  margin: 2% 0% 5% 0%;
}

.section-orange h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #F39662;
}

.section-orange i {
  color: #F39662;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  color: #F39662;
}

footer.page-footer p {
  font-family: 'Poppins', sans-serif;
}

footer.page-footer li {
  font-family: 'Poppins', sans-serif;
}

footer.page-footer a:hover {
  color: #F39662 !important;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .section-orange h5 {
    font-size: 2.3em;
  }
}

/* -------------------------MOBILE------------------------------- */
@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
  .section-orange img {
    display: none;
  }
  .section-orange h5 {
    font-size: 1.4em;
  }
  /* .white-box {
    display: none;
  } */
  .gestricia-pink {
    width: 140px;
    height: 160px;
  }
  .gestricia-orange {
    width: 140px;
    height: 160px;
  }
  .gestricia-grey {
    width: 140px;
    height: 160px;
  }
}

.purple-bg {
  background-color: #605087;
}

.pink-bg {
  background-color: #D1517A;
}

.orange-bg {
  background-color: #F39662;
}

.gray-bg {
  background-color: #BEB6AF;
}

.gray-bg-hover:hover {
  background-color: #857f7a !important;
}

.orange-bg-hover:hover {
  background-color: #eb8042 !important;
}

.pink-bg-hover:hover {
  background-color: #b3204e !important;
}

.pb-2 {
  padding-bottom: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.hero-section {
  height: calc(30%-64px);
}

.overlay-img {
  width: 100%;
  height: calc(65vh - 64px) !important;
}

.v-align-icon {
  position: relative;
  top: 5px;
}

.service-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.selling-button {
  width: 100%;
  height: 40px;
  padding: 2px 0 !important;
  text-transform: uppercase;
  font-family: "poppins", serif;
}

.pink {
  background-color: #D1517A !important;
}

nav .dropdown-content {
  top: 100% !important;
  width: auto !important;
}

nav .dropdown-content a {
  color: black;
}

nav .dropdown-content a:hover {
  color: #F39662 !important;
}

nav .sidenav li a {
  height: auto;
  line-height: 3em;
}

nav .sidenav .nav-item-wrap {
  margin: 30px 0;
}

.bold {
  font-weight: bold;
}

/* -------------------------------------------------------- */
.contact-icon {
  width: 100%;
  height: 100%;
}

.input-field {
  margin: 0;
}

/* label color */
.input-field label {
  color: white;
  font-family: "poppins", serif;
}

/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: white !important;
}

.input-field input[type=text].valid + label, .input-field input[type=email].valid + label, .materialize-textarea:focus:not([readonly]).valid + label, .input-field textarea.valid {
  color: #D1517A;
}

/* label underline focus color */
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]), .input-field input[type=email]:focus {
  -webkit-box-shadow: 0 1px 0 0 white !important;
          box-shadow: 0 1px 0 0 white !important;
}

/* valid color */
.input-field input[type=text].valid {
  -webkit-box-shadow: 0 1px 0 0 solid white;
          box-shadow: 0 1px 0 0 solid white;
}

/* invalid color */
/* icon prefix focus color */
.input-field .prefix.active {
  color: white;
}

/* label focus color */
.input-field input:focus + label {
  color: white !important;
}

/* label underline focus color */
.row .input-field input, .row .input-field select, .row .input-field textarea {
  border-bottom: 1px   solid white !important;
  color: white;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vl {
  height: 600px;
  margin-top: 30px;
  width: 1px !important;
  background-color: #fff;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #605087 !important;
  margin-right: 40px;
  font-family: "poppins", serif;
}

.dropdown-content {
  width: auto !important;
}

.separator {
  height: 40px;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */